extends layout

block content
    h1=title
    h2 All Categories
    if error
        p Error getting categories
    else
        ul
            each category in data.all_categories
                li !{category.name}
    