extends layout 

block content 

    h1!= title 

    if items
        h2 Category must be empty to be deleted 
        h3 Items in category: 
        ul 
            each item in items 
                li
                    a(href!=item.url) !{item.name}
    else 
        h2 Are you sure you want to delete this category?
        form(action="/inventory/deleteCategory/" + category._id, method="post")
            input(type="hidden", name="id" value!=category._id)
            button.btn.red(type="submit") Delete