extends layout 

block content 

    h1!= title 

    if stock
        h2 Item must have no stock to be deleted.
        h3 In-stock item:
        a(href!=stock.url) !{item.name}
        |  (!{stock.count})
    else 
        h2 Are you sure you want to delete this item?
        form(action="/inventory/deleteItem/" + item._id, method="post")
            input(type="hidden" name="id" value!=item._id)
            button.btn.red(type="submit") Delete