extends layout

block content
  h1= title
  if error
    p Error getting DB entries
  else
    h2 Database entries:
    ul
      li #[strong Items:] !{data.item_count}
      li #[strong Categories:] !{data.category_count}
