extends layout

block content 
    h1=title 
    h2 All items 
    
    if error 
        p Error getting data 
    else 
        ul
            each item in data 
                li #[strong !{item.name}] (£!{item.price}) [
                    each category, index in item.category
                        span  !{category.name}
                        if index < item.category.length-1
                            | ,
                    |  ]