doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#side-nav
      p#menu-title IMS
      ul.menu-list
        li.menu-item
          a.menu-link(href="/") Home
        hr
        li.menu-item
          a.menu-link(href="/inventory/items") Items
        li.menu-item
          a.menu-link(href="/inventory/categories") Categories
        li.menu-item
          a.menu-link(href="/inventory/stock") In-Stock
        hr
        li.menu-item
          a.menu-link(href="/inventory/newItem") New Item
        li.menu-item
          a.menu-link(href="/inventory/newCategory") New Category
        li.menu-item
          a.menu-link(href="/inventory/newStock") New Stock
    div#content
      block content
