extends layout 

block content 

    h1!= title 

    form(action="/inventory/updateCategory/" + category._id, method="post")
            label(for="name") Name:
            br
            input#name.form-input(type="text", name="name" placeholder="Category name" value!=category.name required)
            br
            br
            input.btn(type="submit", value="Submit")

    if errors
        p Errors:
        ul 
            each error in errors
                li !{error.msg}