:root {
  --background: #f3f3f3;
}

body {
  font-family: sans-serif;
  display: flex;
  background-color: var(--background);
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

a {
  color: #0083da;
}

#side-nav {
  padding: 10px;
  margin: 0;
  background-color: #0d7ac2;
  box-shadow: 0 0 4px 1px black;
  min-width: 120px;
  user-select: none;
}

#content {
  padding: 0 10px 0 20px;
  flex: 1;
}

#menu-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: var(--background);
  margin: 0;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-link {
  text-decoration: none;
  color: #ececec;
}

.menu-link:hover {
  color: #ffffff;
}

.menu-item {
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0 8px 0;
}
